SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReactionRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MessageId] [varbinary](8) NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_ReactionRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReactionRoleEmotes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReactionRoleId] [int] NOT NULL,
	[Emote] [varchar](max) NOT NULL,
	[RoleId] [varbinary](8) NOT NULL,
 CONSTRAINT [PK_ReactionRoleEmotes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO