SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emotes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Link] [varchar](300) NOT NULL,
	[Name] [varchar](25) NOT NULL,
	[Created] [datetime] NOT NULL,
	[LastUsed] [datetime] NULL,
 CONSTRAINT [PK_Emotes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO